body {
    /* background: beige; */
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

:root {
    --site-name-font: "Righteous", system-ui;
    --body-font: "Quicksand", sans-serif;

    --background-color: #FFFAF8;
    --primary-color: #FF7077;
    --secondary-color: #ACEEF3;
    --tertiary-color: #FFB067;

    --nav-background-color: #2E3C50;
    --card-background-color: #FFFDF9;


}

h1, h3 {
    margin: 0;
}

p {
    margin: 0;
}

.hz-close { /* horizontal close together */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.hz-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hz-space-btwn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hz-center-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.y-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: scoll;
}   

.vertical-warm-text-gradient {
    background: linear-gradient(
        0deg,
        var(--secondary-color) 0%,
        var(--secondary-color) 25%,
        var(--primary-color) 50%,
        var(--primary-color) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.body-text {
    font-family: var(--body-font);
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}