body {
    background: beige;
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* #page-content {

} */

.filters-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

h1, h3 {
    margin: 0;
}

p {
    margin: 0;
}

.hz-close { /* horizontal close together */
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.hz-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}