#map-search-page-root {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden; /* Add overflow property */
}

#msp-options-section-flex {
    display: flex;
    flex-direction: column;
    flex-shrink: fit-content;
}

#msp-options-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: .5rem 1rem .5rem 1rem;
}

.msp-main-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden; /* Add overflow property */

    /* align-items: center;
    justify-content: center; */
}

.msp-main-content.loading {
    justify-content: center;
    align-items: center;
}

#map-results {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: fit-content;
    max-width: fit-content;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#msp-options-section > *:nth-child(1) {
    justify-self: start; /* Justify first child (left) */
}

#msp-options-section > *:nth-child(2) {
    justify-self: center; /* Justify second child (center) */
}

#msp-options-section > *:nth-child(3) {
    justify-self: end; /* Justify third child (right) */
}

#msp-options-section .hz-close img{
    height: 1em;
}

#map {
    flex-grow: 1;
    overflow: hidden;
    /* width: 50rem; */
    /* height: 100%; */
    /* max-height: 100%; */
    background-color: red;
}

.map-dates-response-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: .5rem; */
    flex-grow: 1;
    width: 100%;
    border: 2px solid beige;
}

.map-dates-response-box img {
    height: 10rem;
    width: 14rem;
}

.map-dates-response-box.highlighted {
    border: 2px solid blue;
}

.date-response-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: .5rem; */
    width: 18rem;
    padding: .5rem 0 0 .5rem;
    box-sizing: border-box;
}

#load-img {
    /* width: fit-content;
    height: fit-content; */
    width: 15rem;
    height: 10rem;
}

#sort-text {
    margin-left: 1.5rem;
    font-size: 16px;
}

.dateType-result {
    width: 100%;
}

#map-search-dialog-content {
    max-height: 30rem;
    overflow-y: auto;
}


/* //// MUI stuff //// */

/* .MuiTextField-root.MuiInputBase-root {
    padding: 0;
} */