#navbar-flex {
    display: flex;
    width: 100%;
    flex-shrink: fit-content;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    z-index: 3;
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: .5rem 0;
    background-color: var(--nav-background-color);
}

#navbar img {
    height: 2.5rem;
}

#navbar-middle {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1;
}

#navbar-middle h1 {
    font-family: var(--site-name-font);
    font-weight: 400;
    font-style: normal;  
    font-size: 2rem;  
}

.middle-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000;
}

#navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: .5rem;
}
