#root {
    height: 100vh;
}

body {
    height: 100%;
    background: #F1F1F1;
    margin: 0;
}

#page-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.filters-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.hz-close { /* horizontal close together */
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.hz-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}